<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEX Interview Grader</title>
</head>
<body>
    <h1>VEX Interview Grader</h1>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        {% for question in form.questions %}
            <label for="{{question.label}}">{{question.label}}</label>
            {{ form.questions[question](cols=40, rows=5) }}
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
